.students-container {
  width: 100%;
  background-image: url('/bg-students.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 40px;
}

table {
  width: 100%;
}